.option-container {
    display: flex;
    margin-bottom: 0.75rem;
    width: 100%;
    border-radius: 3px;
    background: #80ffeb;
    font-size: 1.97rem;
    min-width: 23rem;
}

.option-container {
    cursor: pointer;
}

.option-prefix{
    padding: 2rem 5rem;
    /* color:#E10098 */
}

.option-text {
    padding: 2rem;
    width: 100%;
}
.option-container {
    background-color: #80ffeb;
    color: gray;
}

.option-container:hover {
    cursor: pointer;
    color:#CCCCFF;
}

/* color for btn */

.correct {
    background: linear-gradient(32deg, green, lightgreen);
}

.incorrect {
    background: linear-gradient(32deg, red, orange);
}

/* progress bar */

#progressText {
    display: flex;
    justify-content: space-between;
}


/* .bar-prefix{
    text-align: center;
    font-size: 2rem;
} */

.progress-main-text {
    text-align: center;
}


@media screen and (max-width: 767px) {
    .choice-container {
        min-width: 40rem;
    
}}